html {
    font-family: Calibri, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    height: 4000px;
}

body {
    margin: 0;
    color: #898989;
}

/*
 * 过长时以省略号结尾
 */

 .ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

a {
    text-decoration:none;
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}

/*通知面板区域*/

.notify {
    position: relative;
    width: 242px;
    height: 430px;
    float: right;
    margin-top: 26px;
}

.notify-num {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    background: #f38079;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    left: 159px;
}

.notify-link {
    display: block;
    background: #fff;
    width: 60px;
    height: 30px;
    margin: 7px 12px;
    float: right;
    color: #898989;
    text-align: center;
    line-height: 30px;
    border: 1px solid #898989;
    border-radius: 4px;
    font-size: 16px;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #75D8F8;
    position: absolute;
    left: 190px;
    top: 43px;
    display: none;
}

.notify-box {
    position: absolute;
    width: 242px;
    height: 364px;
    left: -12px;
    top: 53px;
    box-shadow: 0 3px 15px -3px rgba(0, 0, 0, 0.34);
    border-radius: 5px;
    display: none;
}

.notify-header {
    width: 242px;
    height: 41px;
    background: #75D8F8;
    background: rgba(60, 201, 247, 0.7);
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 5;
}

.notify-list {
    list-style: none;
    padding:0;
    margin:0 auto;
    margin-top: 7px;
    width: 205px;
}

.notify-list li a {
    float: left;
    display: inline-block;
    width: 67px;
    text-align: center;
    height: 23px;
    line-height: 23px;
    padding: 1px 0px;
    color: #fff;
    font-size: 15px;
}

.notify-list li a:hover,
.notify-list li a.active {
    color: #60BFEB;
    background: #fff;
    transition: all 0.3s;
}

.notify-list li a.comment {
    border: 1px solid #fff;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.notify-list li a.repost {
    border: 1px solid #fff;
}

.notify-list li a.mail {
    border: 1px solid #fff;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.notify-body {
    width: 242px;
    height: 336px;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
}

.notify-content {
    width: 242px;
    height: 336px;
}

.content-wrap {
    margin: 44px 7px 7px 7px;
}

/*通知列表的条目*/

.content-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-list li {
    border-top: 1px solid #ebebeb;
    height: 52px;
    padding-top: 4px;
}

.content-list li.first-li {
    border-top: none;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
}

.username {
    float: left;
    font-size: 13px;
    margin: 3px 4px 0px 4px;
    cursor: default;
}

.time {
    font-size: 13px;
    float: right;
    margin: 3px 4px 0 0;
    cursor: default;
}

.content {
    display: block;
    width: 174px;
    float: left;
    font-size: 14px;
    padding: 3px 0px 4px 4px;
    color: #898989;
}

.content:hover {
    color: #3EC7F4;
    transition: all 0.3s;
}

/*通知面板的底部*/

.notify-footer {
    position: absolute;
    width: 242px;
    height: 28px;
}

.notify-footer a {
    font-size: 13px;
    float: right;
    margin: 0 13px 0 0;
    color: #888;
}

.notify-box .mofabar-scrollbar-y {
    margin-top: 43px;
}

/*简介区域*/

.intro {
    width: 242px;
    padding-left: 10px;
    margin-top: 26px;
    border-left: 1px solid #B6B6B6;
}

.intro h1 {
    margin: 0;
    font-size: 30px;
}

.intro-list {
    margin: 0;
    padding: 0 0 8px 18px;
    font-size: 14px;
}

.intro-list li {
    margin-top: 4px;
}

.link {
    color: #3EC7F4;
}

.link:hover {
    text-decoration: underline;
}

/*排版*/

.left-wrap {
    width: 50%;
    float: left;
}

.right-wrap {
    width: 50%;
    float: right;
}